# Maintain consistent coding style across the entire project.

# This is a configuration file for clang-format.

# C Language specifics.
Language: Cpp

# Based on Google's C++ style guide.  Customized for my own preferences.
BasedOnStyle: Google

# These settings are mirrored in .editorconfig.  Keep them in sync.
ColumnLimit: 100
IndentWidth: 4
UseTab: Never

# Braces to surrounding context.
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom

# Update namespace comments.
FixNamespaceComments: true

# These settings are the same as Python black.
SpacesBeforeTrailingComments: 2
